
<html>
<!-- This app calculates simple interest based on amount, rate, and # years. -->
<!-- Author: Abdul Wahab -->
<!-- 2016-08-20 -->

	<head>
		<title>Simple Interest Calculator</title>

        	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

		<style>
			h1
			{ 
				text-align: center;
			}
			div#frm
			{
				width:200px;
				border: 1px solid red;
				margin: auto;
				padding: 20px 20px 20px 20px;
				align-content: center;
			}
		</style>
	</head>

	<body>
		<h1>Simple Interest Calculation</h1>

		<div ng-app="siApp" ng-controller="siCtrl" id = "frm">
			Starting Amount:<br>
			<input type="number" ng-model="amount"><br><br>
			Interest Rate:<br>
			<input type="number" ng-model="rate"><br><br>
			#Years:<br>
			<input type="number" ng-model="years"><br><br>
			

			<button onclick="calculate()">Calculate</button><br><br>
			Simple interest earned: {{simpleInterest}}<br>
		</div>
		
		<script>
		
			var app = angular.module ('siApp', []);
			
			app.controller('siCtrl', function($scope){
				$scope.amount = 0;
				$scope.rate = 0;
				$scope.years = 0;
				$scope.result = function () {
				$scope.simpleInterest = ($scope.amount * $scope.rate * $scope.years)/100;
				};
			});
			
			function calculate(){
				var scope = angular.element(document.getElementById("frm")).scope();
				scope.$apply(function () {
				scope.result();
				});
			};
		</script>
	</body>
</html>